name: Update Maps

on:
  # push:
  workflow_dispatch:
  schedule:
   - cron: '30 */3 * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install yolkbot
        run: |
          bun install --no-save yolkbot@latest

      - name: Run scrapers
        run: |
          bun ./map.ts
          if git status -s | grep -q .; then echo "CHANGED=true"; else echo "CHANGED=false"; fi >> $GITHUB_ENV
          echo $GITHUB_ENV

      - name: Commit and push changes
        if: env.CHANGED == 'true'
        run: |
          git config --global user.name "yolkbot"
          git config --global user.email "octocat@nowhere.com"
          git add .
          git commit -m "update maps" -m "this is a fully automatic commit"
          git push origin main
